.footer-menu{
    background-color: #404040;
    padding: 32px 0 70px 0;
    color: #8D9999;
    text-align: center;
}
.footer-nav, .footer-link{
    display: flex;
    justify-content: center;
}
.footer-nav li, .footer-link li{
    color: #bbc4c4;
    list-style: none;
    font-size: 13px;
    margin-right: 24px;
}
.footer-nav{
    margin: 23px;
}
.footer-link{
    padding: 23px;
}
