.content-item2{
    /* background: rgb(120, 249, 69); */
    flex: 0 0 180px;
    margin-right: 30px;
}
.feature-heading{
    font-size: 14px;
    font-weight: 600;
    color: #777777;
}
.foundries{
    display: flex;
    padding: 10px 0;
}
.foundries-logo{
    width: 42px;
    height: 37px;
}
#foundary-1{
    background: url(featured-foundry_sprite_image.png) 0 -94px;
}
#foundary-2{
    background: url(featured-foundry_sprite_image.png) 0 -141px;
}
#foundary-3{
    background: url(featured-foundry_sprite_image.png) 0 -46px;
}
#foundary-4{
    background: url(featured-foundry_sprite_image.png) 0 0;
}
#foundary-5{
    background: url(featured-foundry_sprite_image.png) 0 178px;
}
#foundary-6{
    background: url(featured-foundry_sprite_image.png) 0 86px;
}
#foundary-7{
    background: url(featured-foundry_sprite_image.png) 0 130px;
}
#foundary-8{
    background: url(featured-foundry_sprite_image.png) 0 38px;
}
.foundries-body{
    /* background-color: rgb(105, 243, 227); */
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 13px;
    flex: 0 0 134px;
}
.foundries-header{
    color: #777;
}
.foundries p a{
    color: rgb(43, 159, 217);
}
.features-share{
    /* background-color: rgb(105, 243, 227); */
    padding: 10px 0;
    margin-bottom: 20px;
    padding-left: 47px;
    font-size: 13px;
}
.features-share-head{
    color: #777;
    margin-bottom: 18px;
    font-size: 14px;
}
