*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    background: #404040;
    padding: 22px 18px;
}
.header-logo{
    /* background-color: aqua; */
    text-decoration: none;
    /* font-family: "Frutiger Neue W02 Book", Arial, Helvetica, sans-serif; */
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    /* font-weight: 400; */
    line-height: 21px;
    width:212px;
    height:29px;
}
.header-searchbox{
    background-color: #E3E2DE;
    flex-grow: 1;
    border-radius: 20px;
    display: flex;
}
.header-menu{
    /* background-color: rgb(147, 230, 88); */
    width: 331.700px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 20px;
}
.header-menu-item{
    line-height: 18px;
    color: #bababa;
}
.head-menu-but{
    color: white;
    font-weight: bold;
}
.header-menu-item:hover .hover-color{
    color: #E3E2DE;
}
#search-field{
    padding: 7.5px 11.555px;
}
#search-field:focus{
    outline: none;
}
#search-field::placeholder{
    color: #ccc;
    font-size: 15px;
}
.cart-menu{
    display: flex;
}
.cart-icon{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}